.tabs {
    &__buttons {
        display: flex;
    }
    &__button{
        border: none;
        width: 500px;
        height: 80px;
        background-color: #04082c;
        color: #ffffff;
        &_active {
            background-color: #1426e1;
        }
    }

    &__content-item {
        display: none;
        &_active {
            display: inherit;
            padding: 27px 24px;
        }
    }
}